@model QuickMenu.ViewModels.ProductDescriptionLoading

<div class="SeleccionInfo">
    <img src="~/Complements/Media/Template/pizza.jpg" width="40%">
    <div class="SeleccionTextos">
        @using (Html.BeginForm("AddShC","Template"))
        {
        <h1>@Model.product.Name</h1>
        <p>@Model.product.Details</p>
        <p>$@Model.product.Price</p>
        @Html.HiddenFor(x => x.orddet.Product_IDProduct, new { Value = Model.product.IDProduct })
        @Html.EditorFor(x => x.orddet.Quantity);
        @Html.HiddenFor(x => x.orddet.TotalPrice, new { Value = Model.product.Price })
        @Html.HiddenFor(x => x.orddet.IDOrder, new { Value = 1})
        <button class="SeleccionAgregar" type="submit">Add</button>
        }
    </div>
</div>
