@model QuickMenu.ViewModels.TemplateLoading
@{
    Layout = null;  
        
    QuickMenu.Models.employee r = new QuickMenu.Models.employee();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Restaurant</title>
    <link href="~/Complements/CSS/TemplateStyle.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Complements/Media/Management/main-ico.ico" />
</head>
<body>
    <!--      nav-->
    <div class="ScrollUp"></div>
    <nav>
        <div class="dropLogo"></div>
        <div class="dropicon">&#9776;</div>
        <ul class="Topnav" id="dropClick">
            <li>
                <a id="Home">HOME</a>
            </li>
            <li>
                <a id="Map">MAP</a>
            </li>
            <li>
                <a id="Menu">MENU</a>
            </li>
            <li>
                <div id="Login" class="LoginBoton" href="#log-in">LOG IN</div>
            </li>
        </ul>
    </nav>
    <div class="Contenedor">
        <div class="ContenedorPrincipal">
            <!--    login y home-->
            <section class="SeccionHome">
                <div class="LoSiContenedor">
                    <div class="Login">
                        @{ Html.RenderPartial("_TemLog", r); }
                    </div>
                </div>
                <div class="Background"></div>
                <div class="ContenedorHome">
                    <h1 class="TextoPrincipal">Restaurant Name</h1>
                    <p class="TextoSecundario">Description example</p>
                </div>
            </section>

        </div>
        <div class="ContenedorSecundario">

            <!--    Menu-->

            <section class="SeccionMenu Fondo">
                <div class="ContenedorMenu">
                    <div class="Carta">
                        @foreach (var x in Model.products)
                        {
                            <div class="Articulo">
                                @using (Ajax.BeginForm("DesPro", new AjaxOptions { UpdateTargetId = "prodes" }))
                                {
                                    @Html.HiddenFor(m => m.products.First().IDProduct, new { Value = x.IDProduct })
                                    @Html.HiddenFor(m => m.products.First().Name, new { Value = x.Name })
                                    @Html.HiddenFor(m => m.products.First().Price, new { Value = x.Price })
                                    @Html.HiddenFor(m => m.products.First().Details, new { Value = x.Details })
                                    <div class="artimage">
                                        <button type="submit" style="opacity: 0;"><img src="~/Complements/Media/Template/pizza.jpg" style="max-width: 250px;" /></button>
                                    </div>
                                    <p>@x.Name</p>
                                    <p>$@x.Price</p>
                                }
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="prodes" class="SeleccionArticulo">

    </div>
    <div class="ListaCompras">
        <div class="UpIcon"></div>
        <h1 class="ListaTitulo">Shopping Cart</h1>
        <div class="ListaArticulos">
            <div id="shc" class="ContenedorArticulo">

            </div>
            <div class="ContenedorPago" style="width: 80%; ">
        <a class="btnPago">
          Orden finalizada
      </a>
      </div>
        </div>
    </div>
    <script src="~/Complements/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Complements/Scripts/TemplateResponsive.js"></script>
    <script src="~/Complements/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Complements/Scripts/jquery.validate.min.js"></script>
    <script src="~/Complements/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Complements/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Complements/Scripts/jquery.unobtrusive-ajax.min.js"></script>




</body>
</html>