@model QuickMenu.Models.employee
@{
    List<string> positions = new List<string>();
    positions.Add("Gerente");
    positions.Add("Personal Cocina");
    positions.Add("Camarero");
    System.Web.Mvc.SelectList positionslist = new SelectList(positions);

}

<div class="contentform">
    <h2 class="bugs">Employee</h2>
    <label class="txtlbl">Edit</label>
</div>
@using (Html.BeginForm("UpdateEmp", "Management", FormMethod.Post))
{
    <div class="formDomain">
        <h2 class="titlefield">Edit @Model.Name</h2>
        <form class="Dnsform">
            @Html.HiddenFor(model => model.Email)
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "domain-container", @placeholder = "Write Password", @required = "required" } })
            @Html.ValidationMessageFor(model => model.Password)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "domain-container", @placeholder = "Write Name", @required = "required" } })
            @Html.ValidationMessageFor(model => model.Name)
            @Html.DropDownListFor(model => model.Name, positionslist, new { htmlAttributes = new { @class = "domain-container"} })            
        </form>
        <button type="submit" id="Addr" class="btn-proceed">Proceed</button>
        <div class="field-validation-error">@Html.DisplayFor(model => model.AddEError)</div>
    </div>
}
